<div class="admin-venues-form">
  <div class="form">
    <%= form_with(model: @venue, url: url, local: true, method: method_name)  do |f| %>
      <div class="field">
        <%= f.label :location_name %>
        <br>
        <%= f.text_field :location_name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :station %>
        <br>
        <%= f.text_field :station, class: 'form-control' %><span>駅</span>
      </div>

      <div class="field">
        <%= f.label :on_foot %>
        <br>
        <%= f.text_field :on_foot, class: 'on_foot--field' %><span>分</span>
      </div>

      <div class="field">
        <%= f.label :latitude %>
        <br>
        <%= f.text_field :latitude, class: 'geography--field' %>
      </div>

      <div class="field">
        <%= f.label :longitude %>
        <br>
        <%= f.text_field :longitude, class: 'geography--field' %>
      </div>

      <div class="field">
        <%= f.label :address %>
        <br>
        <%= f.text_field :address, class: 'url--field' %>
      </div>

      <div class="field">
        <%= f.label :access_information_url %>
        <br>
        <%= f.text_field :access_information_url, class: 'url--field' %>
      </div>

      <div class="submit">
        <%= f.submit '登録', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
