<section class="admin-venues-index-wrapper wrapper">
  <div class="admin-venues-index-title title">
    <h2>会場登録ページ(Admin)</h2>
  </div>

  <div class="admin-venues-index-contents">
    <div class="admin-venues-index-contents-title">
      <h3>会場一覧</h3>
      <p class="create-action-button">
        <%= link_to '新規作成', new_admin_venue_path %>
      </p>
    </div>
    <div class="admin-venues-index-venue-contents">
      <!-- TODO: eachで回す -->
      <% @venues.each do |venue| %>
        <div class="venue-content">
          <p class="venue-name"><%= venue.location_name %></p>
          <p><%= venue.station %>駅 徒歩<%= venue.on_foot %>分</p>
          <p class="link-p"><%= link_to "編集", edit_admin_venue_path(venue.id) %></p>
          <p class="link-p"><%= link_to "削除", admin_venue_path(venue.id), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }  %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>
